@model BudgetViewModel
    
@{
    ViewBag.Title = "Home";
}    

<div class="text-center">
    <a asp-action="AssignMoney" class="btn btn-primary btn-lg">@string.Format("{0:C}", Model.ApplicationUser.Balance)</a>
</div>

<div>
    <a class="btn btn-default btn-sm" asp-action="AddCategoryGroup">Add Category Group</a>
    
    <table class="table">
        <tr>
            <th>Category</th>
            <th>Available</th>
        </tr>
        @foreach (CategoryGroup categoryGroup in Model.CategoryGroups)
        {
            <tr class="info">
                <td>
                    <a asp-action="EditCategoryGroup" asp-route-id="@categoryGroup.Id">@categoryGroup.Name</a>
                    <a class="btn btn-xs btn-danger pull-right" asp-action="DeleteCategoryGroup" asp-route-id="@categoryGroup.Id" asp-route-name="@categoryGroup.Name">Delete</a>
                    <a class="btn btn-xs btn-default pull-right" asp-action="AddCategory" asp-route-categoryGroupId="@categoryGroup.Id">Add Category</a>
                </td>
                <td>@string.Format("{0:C}", categoryGroup.Budget)</td>
            </tr>
            foreach (Category category in categoryGroup.Categories)
            {
                <tr>
                    <td>
                        <a asp-action="EditCategory" asp-route-id="@category.Id">@category.Name</a>
                        <a class="btn btn-xs btn-danger pull-right" asp-action="DeleteCategory" asp-route-id="@category.Id">Delete</a>
                    </td>
                    <td>
                        <a class="btn btn-xs btn-primary" asp-action="ReassignMoney" asp-route-sourceCategoryId="@category.Id">@string.Format("{0:C}", category.Budget)</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>