@model IEnumerable<Transaction>

@{
    ViewBag.Title = "Transactions";
}   

<div>
    <a class="btn btn-default btn-sm" asp-action="AddTransaction">Add Transaction</a>

    <table class="table">
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Payee</th>
            <th>Memo</th>
            <th>Outflow</th>
            <th>Inflow</th>
            <th></th>
        </tr>
        @foreach (Transaction transaction in Model)
        {
            <tr>
                <td>@transaction.Date.ToLocalTime().ToShortDateString()</td>
                <td>@(transaction.Category ?? "To be budgeted")</td>
                <td>@transaction.Payee</td>
                <td>@transaction.Memo</td>
                <td>@(transaction.IsInTransaction ? string.Empty : string.Format("{0:C}", transaction.Amount))</td>
                <td>@(transaction.IsInTransaction ? string.Format("{0:C}", transaction.Amount) : string.Empty)</td>
                <td>
                    <a class="btn btn-xs btn-danger pull-right" asp-action="DeleteTransaction" asp-route-id="@transaction.Id">Delete</a>
                    <a class="btn btn-xs btn-default pull-right" asp-action="EditTransaction" asp-route-id="@transaction.Id">Edit</a>
                </td>
            </tr>
        }
    </table>
</div>